@model IEnumerable<SampleUsers.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
<div class="container">
    <h2>Add new user</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Kayıt ol</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form action="/Users/AddNewUser" method="post">
                        <p>KULLANICI KAYIT</p>
                        İsim: <input type="text" name="name" id="textbox1" />
                        <br />
                        <br />
                        Soyisim: <input type="text" name="surname" id="textbox2" />
                        <br />
                        <br />
                        Sözleşmeyi okudum ve kabul ediyorum. <input type="checkbox" name="isChecked" id="checkbox1" />
                        <br />
                        <br />
                        <input type="submit" id="button1" value="Kayıt ol" />
                        <br />
                        <br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                </div>
            </div>

        </div>
    </div>
</div>

<br />
<div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Sözleşme kabul edildi mi?</th>
            </tr>

            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Id
                    </td>
                    <td>
                        @user.Name
                    </td>
                    <td>
                        @user.Surname
                    </td>
                    <td>
                        @user.IsChecked
                    </td>
                </tr>
            }
        </table>


    </div>
</div>

<script>
    function function1() {
        var isimbox = document.getElementById("textbox1").value;
        var soyisimbox = document.getElementById("textbox2").value;
    }
</script>
